{{!-- Hidden divs with data passed from the Express server --}}
<div id="paymentMethodsResponse" class="hidden">{{{ response }}}</div>
<div id="originKey" class="hidden">{{ originKey }}</div>
<div id="type" class="hidden">{{ type }}</div>

<div id="payment-page">
  <div class="container">
    {{> customerform}}

    {{!-- The Checkout integration type will be conditionally rendered below. --}}
    {{!-- Note: A custom helper function (./util/helpers.js) was used to implement conditionals in Handlebars. --}}
    {{#ifeq type "dropin" }}
    {{!--   * Drop-in includes styling out-of-the-box, so no additional CSS classes are needed. --}}
    <div id="dropin"></div>
    {{else}}
    <div class="payment-container">
      <div id={{type}} class="payment"></div>
    </div>
    {{/ifeq}}
  </div>
</div>

{{!-- Adyen Component client code --}}
<script type="text/javascript" src="../adyenImplementation.js"></script>
