<div class="main-container">
  <div class="info">
    <h2>Payment History</h2>
    <p>This page shows all payments details for this reference, as they are delivered by webhooks.</p>
    <div class="details-panel-payment-container">

    {{#if data}}
    {{#each data.paymentDetailsModelList}}
      <ul class="detailsList">
        <li><b>Merchant Reference: &nbsp;</b> {{merchantReference}} </li>
        <li><b>Event Code: &nbsp;</b>{{eventCode}}</li>
        <li><b>PspReference: &nbsp;</b>{{pspReference}}</li>
        <li><b>Original Reference: &nbsp;</b>{{originalReference}}</li>
        {{#ifeq success "false" }}
        <li><b>Refusal Reason: &nbsp;</b>{{refusalReason}}</li>
        {{/ifeq}}
        <li><b>Amount: &nbsp;</b>{{currency}} {{formatAmount amount}}</li>
        <li><b>PaymentMethodBrand: &nbsp;</b>{{paymentMethodBrand}}</li>
        <li><b>DateTime: &nbsp;</b>{{formatDate dateTime}}</li>
        {{#ifeq success "true" }}
        <li><b>Success: &nbsp;</b><b><span class="success">{{success}}</span></b></li>
        {{else}} 
        <li><b>Success: &nbsp;</b><b><span class="failure">{{success}}</span></b></li>
        {{/ifeq}}
      </ul>
    {{/each}}
    {{else}}
      <p>
        <b>No payments history is found for this Merchant Reference.</b>
      </p>   
    {{/if}}
    
      <a class="button" href="/admin" to="#/">Return</a>
    </div>
  </div>

</div>
